<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div class="header">
    <div class="w clearfix">
  	  <h1 class="logo"><a href=""><img src="images/logo.gif" alt=""></a></h1>
  	  <div class="sLanguage"><a href="">中</a>|<a href="">English</a></div>
  	</div>
  </div> <!-- header end -->
  <div class="rel">
    <div class="navW">
      <ul class="w nav">
        <li><a class="sub" href="">首页</a></li>
        <li><a class="sub" href="">关于EUCITTC</a></li>
        <li><a class="sub" href="">主要事务</a></li>
        <li><a class="sub" href="">战略计划</a></li>
        <li><a class="sub" href="">资讯</a></li>
        <li><a class="sub" href="">与我们联系</a></li>
      </ul>
    </div> <!-- nav end -->
    <div class="innerBanner"></div>
  </div> <!-- end -->
  <div class="w">
    <h1 class="pageTit">关于EUCITTC</h1>
    <div class="pageMain clearfix">
      <div class="pageL">
      	<ul class="asideList">
      		<li><a class="items itemsCur" href="">中心简介</a></li>
      		<li><a class="items" href="">中心宗旨</a></li>
      		<li><a class="items" href="">组织结构</a></li>
      	</ul>
      </div>
      <div class="pageR">
      	<div class="postMain">
      	  <p>在全球性再工业化背景下，中国同样希望抓住机遇促进经济的协调发展和产业技术核心能力的快速提升。在过去的一年里，中国政府连续发布了一连串关于振兴制造业和技术创新的重大国家战略，在“实现创新驱动发展”、“全民创新和创业”、“中国制造2025”等相关文件，以及在指导中国发展规划的“第十三个五年计划”中都明确指出：中国要坚持创新发展，融入全球创新网络，以更加开阔的胸怀吸纳全球创新资源。同时，在欧中重要的“一带一路”的发展战略中，强调要加强欧中科技合作，共建联合实验室、国际技术转移中心，共同提升科技创新能力。</p>
      	  <p>欧盟-中国工业技术转移中心(EU-China Industrial Technology Transfer Center)依据国家战略要求指示由北京电子控股有限责任公司（中国特大型高科技产业集团，总资产两千亿人民币）与欧盟中国经济文化委员会共同组建成立，致力于发展成为吸纳国际创新技术资源，推动欧中技术成果转移转化，促进欧中技术交流与合作的专门机构。</p>
      	  <p>欧洲发达国家在科学技术领域历史悠久，众多技术都处于国际领先水平，中国需要国际领先的先进技术，也同样欢迎具有实用价值的上代技术。中国政府和本土企业对技术的重视和迫切需求，让这里充满机会，成为一个拥有万亿级规模的技术市场。作为具有欧中双重属性的技术交流、转移、服务平台，欧盟-中国工业技术转移中心源于欧洲，又更懂中国政策、需求和国情，深得中国政府和企业的支持，是欧中技术转移的首选渠道和平台服务商。</p>
      	</div>
      </div>
    </div> <!-- pageMain end -->
  	<div class="footer">
  	  <ul class="friendLink clearfix">
  	  	<li><a href="">中国集团公司促进会</a></li>
  	  	<li><a href="">欧盟中国经济文化委员会</a></li>
  	  	<li><a href="">中国国家发展和改革委员会</a></li>
  	  	<li><a href="">中华人民共和国科学技术部</a></li>
  	  	<li><a href="">中华人民共和国工业和信息化部</a></li>
  	  	<li><a href="">中国人民共和国外交部</a></li>
  	  	<li><a href="">中华人民共和国商务部</a></li>
  	  	<li><a href="">中国科学院</a></li>
  	  </ul>
  	  <p class="copyright">EUCITTC©2016 <a href="">www.EUCITTC.com</a>, All Rights Reserved.京ICP备14056848号</p>
  	</div>
  </div>
</body>
</html>