<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="UTF-8">
  <title>{xiao:$site_title}</title>
  <meta name="keywords" content="{xiao:$site_keywords}" />
  <meta name="description" content="{xiao:$site_description}" />
  <link rel="stylesheet" href="./static/css/forum.css">
</head>
<body>
  <div class="header">
    <h1><em class="en">EU-China Industrial Technology Transfer Forum</em><strong class="zn">欧盟-中国工业技术转移论坛</strong></h1>
    <div class="w"><div class="sLanguage"><a href="">中</a><a href="">English</a></div></div>
  </div>
  <div class="w clearfix">
    <div class="forumL">
      <h2 class="forumTit"><strong class="zn">关于论坛</strong><b class="en">ABOUT HTE FORUM</b></h2>
      <div class="forumMain">{xiao:$content}</div>
    </div>
    <div class="forumR">
      <h2 class="forumTit"><strong class="zn">关注论坛动态</strong><b class="en">FOLLOW US</b></h2>
      <div class="qr"><img src="./static/images/forumQr.png" alt="二维码" width="258" height="258"></div>
      <h2 class="forumTit"><strong class="zn">论坛组织委员会</strong><b class="en">ORGANIZATIONAL COMMITTEE OF THE FORUM</b></h2>
      <p class="contactBox">关于论坛的任何咨询、合作及建议<br>请与我们取得联系<span class="email">info@eucittf.org</span></p>
    </div>
  </div> <!-- end -->
  <div class="w">
  <div class="footer">
    <div class="clearfix footerA">
      <div class="forumLink">{xiao:block 5}</div>
      <p class="state">欧盟中国工业技术转移中心<br>EU-China Industrial Technology Transfer Center <br><a href="" class="email">MAIL:info@eucittc.org</a></p>
    </div>
    </div>
  </div>
</body>
</html>