@charset "utf-8";
/* CSS basic */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,span,fieldset,legend,input,button,textarea,p,blockquote,th,td{ margin: 0; padding: 0;box-sizing: border-box; }
fieldset,img{ border: 0; }
img{vertical-align: top;}
:focus{ outline: 0; }
address,caption,cite,code,dfn,em,strong,th,var,optgroup{ font-style: normal; font-weight: normal; }
h1,h2,h3,h4,h5,h6{ font-size: 100%; font-weight: normal; font-family: "Microsoft YaHei","Arial","Hiragino Sans GB", \5fae\8f6f\96c5\9ed1, "Helvetica", "sans-serif"; }
input,button,textarea,select{ *font-size: 100%; border:none;}
body{ background-color: #fff;font: 14px/1.5 "Arial","Hiragino Sans GB", \5fae\8f6f\96c5\9ed1, "Helvetica", "sans-serif"; transition: all 0.2s linear 0s;}
ol,ul,li{ list-style: none; }
table{ border-collapse: collapse; border-spacing: 0; }
i{ font-style: normal;}
:link, :visited, ins{ text-decoration: none; }
.rel{position: relative;}.abs{position: absolute;}.fl{float: left;}.fr{float: right;}
.w{width: 1200px;min-width:1200px;margin: 0 auto;position: relative;}
.w1000{width: 1000px;min-width:1000px;margin: 0 auto;position: relative;}
.w1100{width: 1100px;margin: 0 auto;position: relative;}
a{color: #666;}a:hover{transition : color 0.2s linear 0s,background-color 0.3s linear 0s;color: #63b2f5;}
.clearfix:after{content:'\0020';display:block;height:0;clear:both;visibility:hidden;}
.clearfix{*zoom:1;}
.tac{text-align: center;}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {display: block;}
.block60{clear: both;height: 60px;}
.block12{clear: both;height: 12px;}
.grayBg{background-color: #f4f4f4;}
.whiteBg{background-color: #fff;}
.t-blue{color: #42a4f7;}
/* header style */
.header{
    position: relative;
    width: 100%;
    height: 76px;
    background:#fff;
}
.header .logo a{
    margin-top: 18px;
    width: 138px;
    height: 38px;
    display: block;
    background: url(../images/logo.jpg) center no-repeat;
    overflow: hidden;
    text-indent: -9999px;
}
.headerR{
    margin-top: 24px;
    font-size: 14px;
    line-height: 30px;
}
.headerR .unlogin{
    color: #fff;
    height: 30px;
    border-radius: 15px;
    padding: 0 15px;
    background: #42a4f7;
}
.headerR .unlogin a{color: #fff;}
.headerR .islogin,.headerR .islogin a{font-size: 14px; color: #303030;}
.headerR .islogin a.sub{margin: 0 5px;}
.headerR .islogin a.sub:hover{color: #42a4f7;}
.headerR .user{margin-left: 20px;}
.header .nav .items{float: left;height: 30px;margin:0 28px;}
.header .nav .sub{line-height: 26px;border-bottom: 2px solid transparent;color: #303030;display: inline-block;}
.header .nav .items.current .sub,
.header .nav .sub:hover{
    color: #42a4f7;
    border-color: #42a4f7;
}

.header .uNav{position: relative; float: left;padding-bottom: 10px;z-index: 10;}
.header .uNav dt{height: 30px;position: relative;padding-right: 12px;background: url(../images/icon/xlsj.png) right center no-repeat;}
.header .uNav .uname{display: inline-block;height: 30px;font-size: 15px;line-height: 30px;padding-left: 38px;background: url(../images/u_info.png) left center no-repeat;    max-width: 100px; overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.header .uNav dd{position: absolute;left: 0;top: 38px;width: 100px;padding: 6px 10px;background: #f5fcfe;display: none;}
.header .uNav dd a{display: block;font-size: 13px;line-height: 32px;text-align: center;color: #666;}
.header .uNav dd a:hover{color: #42a4f7;}
.header .uNav:hover dd{display: block;}

.fixed_header{
    position: absolute;
    top: 0;
    z-index: 2;
    background: rgba(65, 96, 187, 0.4);
}
.fixed_header .logo a{
    background-image: url(../images/logo.png);
}
.fixed_header .nav .items.current .sub,
.fixed_header .nav .sub:hover,
.fixed_header .nav .sub{
    color: #fff;
}
.fixed_header .nav .items.current .sub,
.fixed_header .nav .sub:hover{
    border-color: #fff;
}
.fixed_header.header .uNav .uname{color: #fff;}

.banner{width: 100%;min-width: 1200px;height: 690px;background: #fff;}

.hasDateIcon{background-image: url(../images/icon/dateIcon.png);background-repeat: no-repeat;background-position: right center;}

.banner-swiper-container{}
.banner-swiper-container .swiper-slide{height: 690px;background-position: center top;background-repeat: no-repeat;}
.banner-swiper-container .swiper-slide1{background-image: url(../images/banner.jpg);}
.banner-swiper-container .swiper-slide2{background-image: url(../images/banner2.jpg);}
.banner-swiper-container .swiper-slide3{background-image: url(../images/news_banner.jpg);}

/* index */
.index_slogan{
    padding: 100px 0;
    text-align: center;
    background: #fff url(../images/index_slogan_bg.gif) center bottom repeat-x;
}

.index_about{background: #d9e6fa;padding: 50px 0 38px;}
.indexAboutList{}
.indexAboutList li{width: 25%;float: left;text-align: center;}
.indexAboutList li span{font-weight: 500;font-size: 20px;line-height: 32px;color: #000; display: block;margin-top: 22px;}

.index_videoBox{
    width: 1200px;
    height: 600px;
    margin: 0 auto;
}

.index_commonweal_china{overflow: hidden;}
.index_commonweal_china li{
    float: left;
    width: 300px;
    height: 278px;
    background: #f1f1f1;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    overflow: hidden;
    margin-top: -1px;
}
.index_commonweal_china li:nth-child(4n){border-right: 0;}

.index_commonweal_other{margin-left: -28px;}
.index_commonweal_other li{width: 380px;height: 375px;margin-left: 28px;margin-bottom: 28px;float: left;overflow: hidden;}
.index_commonweal_other li img{width: 100%;height: 100%;}
.indextitle{font-size: 18px;line-height: 32px;margin-bottom: 16px;}

.index_contant{padding-bottom: 160px;background: #fff url(../images/index_slogan_bg.gif) center bottom repeat-x;}
.index_contant_title{padding: 30px 0;text-align: center;}
.index_contant_left{width: 590px;}
.index_contant_right{width: 555px;}
.index_form{}
.index_form li{width: 266px;height: 32px;margin-right: 22px;margin-bottom: 10px;float: left;}
.index_form li:nth-child(2n){margin-right: 0;}
.index_form .ipt_text{padding: 2px 12px;width: 100%;height: 32px;line-height: 32px;border: 1px solid #ccc;}
.index_form .ipt_textarea{resize: none;margin-bottom: 10px; width: 100%;padding: 10px;height: 132px;border: 1px solid #ccc;}
.index_form .ipt_submit{cursor: pointer; font-size: 16px;color: #fff;background-color: #6aa6e9;border-radius: 16px;text-align: center; height: 32px;line-height: 32px;padding: 0 45px;vertical-align: top;}
.index_form .ipt_submit:hover{opacity: .8;}

.footer{padding-top: 92px;height: 468px;background: #000 url(../images/footer_bg.jpg) center top no-repeat;}
.footer_logo{padding-bottom: 46px;text-align: center;border-bottom: 1px solid #fff;}

.footer_nav{padding: 10px 0;text-align: center;margin-bottom: 46px; border-bottom: 1px solid #fff;font-size: 0;}
.footer_nav li{font-size: 14px;line-height: 32px; display: inline-block;margin: 0 22px;}
.footer_nav li a{color: #fff;}

.footer_dl{min-width: 180px;color: #fff;}
.footer_dl a{color: #fff;}
.footer_dl dt{position: relative;margin-bottom: 5px;padding-left: 12px;font-size: 14px;line-height: 22px;}
.footer_dl dt::before{position: absolute; left: 0; top: 3px; content: ""; width: 3px; height: 16px; background: #f1f1f1;}
.footer_dl dd{padding-left: 12px; font-size: 12px; line-height: 32px;}

.footer_social{overflow: hidden;}
.footer_social li{float: left;margin-right: 30px;}

.commonweal{background: #fff;}
.commonweal_china{padding-top: 1000px;background: #2a5991 url(../images/commonweal_china.jpg) center top no-repeat;}
/* commonweal_list */
.commonweal_list{}
.commonweal_list li{height: 350px;overflow: hidden;}
.commonweal_list li .thumb{width: 50%;height: 100%;float: right;background-color: #ccc;overflow: hidden;}
.commonweal_list li .thumb img{width: 100%;height: 100%;}
.commonweal_list li .information{padding: 30px;width: 50%;height: 100%;background-color: #fff; float: left;}
.commonweal_list li:nth-child(2n) .thumb{float: left;}
.commonweal_list .information .eName{font-size: 32px;line-height: 46px;color: #666;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.commonweal_list .information .cName{font-size: 36px;line-height: 52px;color: #000;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.commonweal_list .information .desc{font-size: 18px;line-height: 32px;color: #333;height: 128px;padding-top: 32px;margin-bottom: 20px;overflow: hidden;}
.commonweal_list .information .link{width: 180px;height: 50px;font-size: 24px;line-height: 50px;border-radius: 25px; text-align: center; color: #fff;background: #379aef;display: block;float: left;}
/* filter_attrs */
.filter_attrs{
    position: relative;
    z-index: 10;
    padding: 10px 30px;
    margin-bottom: 62px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 8px;
}
.filter_attrs .hr{
    height: 1px;
    border: 0;
    background-color: #ccc;
    clear: both;
    width: 100%;
    margin: 5px auto;
}
.filter_attrs .hr:last-child{
    display: none;
}
.filter_attrs .attr{
    position: relative;
    padding: 10px 0 10px 80px;
    font-weight: normal;
    font-size: 14px;
    line-height: 36px;
    color: #fff;
}
.filter_attrs .attrKey{
    width: 80px;
    float: left;
    font-size: 16px;
    vertical-align: top;
    margin-left: -80px;
}
.filter_attrs .attrValues{

}
.attrList{
    position: relative;
}
.attrList li{
    position: relative;
    float: left;
    margin-bottom: 5px;
}
.attrList li a,.attrList li span{padding: 0 20px;color: #fff;border-radius: 18px;display: block;cursor: pointer;margin: 0 2px;}
.attrList li a:hover,
.attrList li span.current{
    background-color: #379aef;
}

.commonweal .filter_attrs{
    background: #55affb;
}

.List_banner,
.News_banner,
.show_banner{
    width: 100%;
    min-width: 1200px;
    height: 690px;
    background: #747f9e url(../images/welfare_banner.jpg) center top no-repeat;
}
.show_banner{height: 570px;padding-top: 125px;}
.show_banner .eName{font-size: 45px; line-height: 45px; margin-bottom: 10px;; color: #fff; font-family: Arial;}
.show_banner .cName{font-size: 60px;line-height: 70px;padding-bottom: 12px;color: #fff;}
.show_banner .trigger_book{width: 134px;height: 38px;margin-top: 42px;display: block;color: #fff;font-size: 16px;text-align: center;line-height: 38px;border-radius: 19px;background: #42a4f7;}
.News_banner{
    height: 850px;
    padding-top: 310px;
    background-image: url(../images/news_banner.jpg);
}
.News_banner .News_button{
    width: 470px;
    height: 80px;
    color: #fff;
    font-size: 50px;
    line-height: 80px;
    border: 1px solid #fff;
    border-radius: 40px;
    text-align: center;
    display: block;
    margin: 0 auto 230px;
    background: rgba(255, 255, 255, 0.4);
}

/* Post_Main */
.Post_Main{padding: 148px 0;font-size: 14px;line-height: 26px;color: #666;}
.Post_title{font-size: 50px;line-height: 62px;text-align: center;color: #666;margin-bottom: 100px;}

/* News_List */
.News_List{background: #fff;padding: 30px;border-radius: 10px;}
.News_List li{
    position: relative;
    padding: 22px 0 22px 32px;
    border-left: 1px dotted #d9d9d9;
    border-bottom: 1px dashed #d9d9d9;
}
.News_List .meta::before{
    position: absolute;
    top: 5px;
    left: -38px;
    content: "";
    width: 10px;
    height: 10px;
    background-color: #3597eb;
    border-radius: 50%;
}
.News_List .information{float: left;min-width: 680px;}
.News_List .photo{height: 116px;line-height: 116px;float: right;}
.News_List .photo img{vertical-align: middle;display: inline-block;max-width: 100%;max-height: 100%;border-radius: 12px;}
.News_List .meta{position: relative; line-height: 22px;font-size: 14px;}
.News_List .meta .name{color: #eb7135;margin-right: 12px;padding: 0 10px;border: 1px solid #eb7135;border-radius: 3px;display: inline-block;}
.News_List .meta p{color: #3597eb; display: inline-block;}
.News_List .meta .time{color: #999;margin-left: 48px;}

.News_List .title{margin: 20px auto;font-size: 20px;line-height: 32px;color: #666;}
.News_List .number{color: #999;line-height: 20px;}
.News_List .number span{color: #3597eb;}
.News_List .number a{display: inline-block;font-size: 16px;line-height: 20px;margin-left: 10px; color: #42a4f7;}
.News_List .number .icon-edit,.News_List .number .icon-del{width: 20px;height: 20px;display: inline-block;vertical-align: middle;margin-right: 5px;}
.News_List .number .icon-edit{background: url(../images/editIcon.jpg) center no-repeat;}
.News_List .number .icon-del{background: url(../images/deleteIcon.jpg) center no-repeat;}

.News_type_list{text-align: center;font-size: 0;}
.News_type_list li{cursor: pointer; font-size: 18px;line-height: 44px; height: 44px;padding: 0 32px; margin: 0 12px; color: #3597eb; background-color: #fff; border-radius: 22px; border: 1px solid #3597eb;display: inline-block;text-align: center;}
.News_type_list li.current{background-color: #3597eb;color: #fff;}

/* article_warpper */
.article_warpper{width: 100%;}
.article_tabs{}
.article_tabs_list{position: relative;margin-bottom: 25px;overflow: hidden;border-bottom: 1px dotted #3597eb;}
.article_tabs_list li{height: 82px;width: 16.66%;float: left;text-align: center;}
.article_tabs_list li a{line-height: 77px;font-size: 16px;padding: 0 20px;border-bottom: 5px solid transparent;color: #3597eb;display: inline-block;}
.article_tabs_list li.cur a{border-color: #3597eb;}

.article_tabs_content .Items{display: none;width: 1100px;margin: 0 auto 45px;}
.ProjectDesc{width: 460px;overflow: hidden;}
.ProjectDesc img{max-width: 100%;}
.projectList{width: 600px;overflow: hidden;}
.projectListItems{padding-bottom: 10px; border-bottom: 1px dotted #999;}
.projectListItems h3{height: 50px;line-height: 50px;font-size: 18px;color: #000;font-weight: normal;}
.projectListItems h3 i{width: 28px;height: 28px;float: left;overflow: hidden;margin: 11px 8px 0 0;background-repeat: no-repeat;background-position: center;}
.projectListItems h3 i.icon-time{background-image: url(../images/icon/time.png);}
.projectListItems h3 i.icon-cycle{background-image: url(../images/icon/cycle.png);}
.projectListItems h3 i.icon-address{background-image: url(../images/icon/address.png);}
.projectListItems h3 i.icon-stay{background-image: url(../images/icon/stay.png);}
.projectListItems h3 i.icon-diet{background-image: url(../images/icon/diet.png);}
.projectListItems h3 i.icon-gain{background-image: url(../images/icon/gain.png);}
.projectListItems .des{padding-left: 35px;}
.projectListItems .des,.projectListItems .des pre{font: 14px/24px 'Microsoft YaHei';color: #686868;}
.ProjectDesc .desc{margin: 50px 20px 0;padding-left: 20px;background: url(../images/icon/start.png) no-repeat 0 8px;color: #5e5e5e;font-size: 15px;line-height: 30px;}

.book_button{width: 200px;height: 45px;font-size: 16px;line-height: 45px;margin: 50px auto;text-align: center;color: #fff;border-radius: 22px; display: block;background: #3597eb;cursor: pointer;}
.book_button:hover{color: #fff;}

.zysx{ margin-top:25px;}
.zysx .zysxDiv{border-bottom:1px dotted #4c97eb;}
.zysx .zysxDiv h3{ height:72px; background:url(../images/zy1.png) no-repeat 1060px center;}
.zysx .zysxDiv h3 a{ display:block; height:72px; line-height:72px; font-size:25px; font-weight:normal; color:#000;}
.zysx .zysxDiv h3 a:hover{ color:#4c97eb;}
.zysx .zysxDiv h3.cur{ background:url(../images/zy2.png) no-repeat 1060px center;}
.zysx .zysxDiv h3.cur a{ color:#4c97eb;}
.zysx .zysxDiv .infor{ font-size:18px; line-height:36px; color:#000; display:none; padding-bottom:25px;}

.projectcosts .titleBox{ padding:40px 0;}
.projectcosts .titleBox img{ display:block; margin:0 auto;}
.projectcosts .projectcostsTable{ border:1px solid #3597eb;}
.projectcosts .projectcostsTable th{ height:56px; background:#3597eb; font-size:20px; color:#fff; font-weight:normal;}
.projectcosts .projectcostsTable td{ padding:24px 0; border-top:1px dotted #a5a5a5; text-align:center; font-size:19px; color:#000;}
.projectcosts .projectcostsTable .go_book{width: 134px;height: 38px;font-size: 14px;line-height: 38px;color: #fff;background: #3597eb; display: block;margin: 0 auto;}

.oncosts .titleBox{ padding:40px 0 0;}
.oncosts .titleBox img{ display:block; margin:0 auto;}
.oncosts .oncostsDiv{ border-bottom:1px dotted #cecece;}
.oncosts .oncostsDiv .title { width:100%;float:left;padding-bottom:20px; }
.oncosts .oncostsDiv .title span {
	width:auto;float:left;background:#3597eb url(../images/icon/fee_notice_icon.jpg) no-repeat 10px;
	height:40px;font-size:18px;color:#FFF;line-height:40px;text-indent:38px;padding-right:30px;
}
.oncosts .oncostsDiv .title img{ display:block;}
.oncosts .oncostsDiv .infor{ font-size:17px; color:#000; line-height:40px; padding:25px 0;}

.OrgTitle{font-size: 18px;line-height: 32px;height: 32px;margin: 8px auto;color: #3597eb; text-align: center;}
.OrgLeft,.OrgRight{position: relative;width: 570px;height: 300px; overflow: hidden;}

/* .OrgLeft .swiper-slide{width: 570px;height: 300px;background: #f8f8f8;overflow: hidden;} */
.OrgLeft .swiper-slide img{min-width: 100%;}
.OrgLeft .swiper-slide,
.OrgRight .swiper-slide{width: 570px;height: 252px;background: #f8f8f8;overflow: hidden;}

.OrgRight .swiper-slide .title{font-size: 16px;padding: 12px;}
.OrgRight .swiper-slide .description{font-size: 14px;padding: 0 12px;line-height: 18px;}

.PostMain{padding: 20px 36px;background: #fff;overflow: hidden;}
.PostMain img{max-width: 100%;}
.PostMain .title{line-height: 52px;margin-top: 25px;font-size: 30px;color: #42a4f7;text-align: center;}
.PostMain .meta{font-size: 14px;color: #999;line-height: 20px;text-align: center;margin: 12px auto 52px;}
.PostMain .meta .t-blue{color: #42a4f7;}
.PostMain .meta .name{color: #eb7135;margin-right: 12px;padding: 0 10px;border: 1px solid #eb7135;border-radius: 3px;display: inline-block;}
.PostMain .content{min-height: 520px;overflow: hidden;}
.PostMain .content img{max-width: 100%;}

.Pager{border-top: 1px solid #ccc;padding-top: 12px;color: #666;}
.Pager a{color: #3597eb;}
/**浮动样式**/
.floatmain {
	width:100%;height:100%;position:fixed;top:0%;left:0%;float:left;z-index:1000;
	border-radius:1px;overflow:hidden; background:url(/static/images/heibg.png);
}
.floatboxs {
	width:auto;height:100%;margin:0px auto;position:relative;
}
.iframeclass { width:100%;height:100%;z-index:-1;top:0px;left:0px;*background:#fff;*filter:alpha(opacity=30);_position:absolute; }
.lktcDiv{ background:#fff; border-radius:5px; position:relative; }
.lktcDiv .closeBtn{ width:28px; height:28px; position:absolute; top:-40px; right:0; background:url(/static/images/closeBtn.png) no-repeat; }

.wszl{ padding:46px 0 40px;}
.wszl .titleImg img{ display:block; margin:0 auto;}
.wszl .infor{ padding:15px 20px 20px; line-height:30px; font-size:16px; color:#7a7a7a; text-align:center;}
.wszl .btn a{ display:block; width:196px; height:50px; line-height:50px;background:#1bc1cd; border-radius:25px; margin:0 auto; font-size:20px; color:#fff; text-align:center;}

/*--弹出登录--*/
.dlzc .dlzcTit{ height:50px; line-height:50px; padding:0 44px; background:#f2f2f2; border-radius:5px 5px 0 0;}
.dlzc .dlzcTit h3{ float:left; font-size:20px; color:#999; font-weight:normal;}
.dlzc .dlzcTit a.gotoRegiest{ float:right; height:50px; line-height:50px; font-size:18px; color:#333; background:url(../images/zcIcon.png) no-repeat 0 center; padding-left:23px;}
.dlzc .dlzcTit a.gotoDl{float:right; height:50px; line-height:50px; font-size:16px; color:#7aded2;}
.dlzc .dlzcForm{ padding:35px 45px;}
.dlzc .dlzcForm .inputDiv{ width:308px; height:47px; border:1px solid #c1c1c1; border-radius:5px; overflow:hidden; margin-bottom:20px;}
.dlzc .dlzcForm .inputDiv p.icon{ width:50px; height:47px; float:left; overflow:hidden; border-radius:5px 0 0 5px;}
.dlzc .dlzcForm .inputDiv input.txt{ width:238px; padding:0 0 0 10px; height:47px; line-height:47px; font-size:14px; color:#333; float:left; border:none;}
.dlzc .dlczCz{ height:28px;}
.dlzc .dlczCz .xieyi{ float:left; height:28px; line-height:28px;}
.dlzc .dlczCz .xieyi label{ float:left; height:28px; line-height:28px; font-size:14px; color:#000;}
.dlzc .dlczCz .xieyi label input{ float:left; margin:7px 10px 0 0;}
.dlzc .dlczCz a.forget{ float:right; height:28px; line-height:28px; font-size:14px; color:#7aded2;}
.dlzc .inputBtn{ margin-top:15px;}
.dlzc .inputBtn .submitBtn{ height:47px; line-height:47px; background:#7aded2; border-radius:5px; border:none; width:100%; font-size:18px; color:#fff; cursor:pointer;}
.dlzc .inputBtn .submitBtn.loading,
.SubmitBtn.loading{background: #ccc;cursor: not-allowed;}
.dlzc .otherLogin{ margin:25px 45px 0; height:50px; background:url(../images/DlLine.png) no-repeat center center; text-align:center;}
.dlzc .otherLogin img{margin:0 10px;}

.RegisterBanner{width: 100%;height: 370px;background: #ccc url(../images/regisger_banner.jpg) center top no-repeat;}
.Register{ padding:100px 0;width: 384px;margin: 0 auto;}
.Register h3{ height:30px; line-height:30px; font-size:20px; font-weight:normal; color:#000;}
.Register .otherLink{ line-height:30px; text-align:right; font-size:14px; padding-bottom:10px;}
.Register .otherLink a{ color:#1bc1cd;}
.Register .dlzcForm .inputDiv{ width:auto;}
.dlzcForm .inputDiv {
    height: 47px;
    border: 1px solid #c1c1c1;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20px;
}
.dlzcForm .inputDiv p.icon {
    width: 50px;
    height: 47px;
    float: left;
    overflow: hidden;
    border-radius: 5px 0 0 5px;
}
.Register .dlzcForm .inputDiv input.txt{ padding: 0 10px; height: 45px; line-height: 45px; font-size: 14px; color: #333; float: left; border: none; width: 332px;}
.LoginSubmitBtn { height: 47px; line-height: 47px; background: #53a4f7; border-radius: 5px; border: none; width: 100%; font-size: 18px; color: #fff; cursor: pointer;}
.color1bc1cd { color: #1bc1cd !important;}
.submitSuccess{ padding:70px 0;}
.submitSuccess .pic01{ display:block; margin:0 auto;}
.submitSuccess .pic02{ display:block; margin:40px auto 0;}
.submitSuccess a.btn{ display:block;width:138px; height:38px; line-height:38px; background:#1bc1cd; border-radius:19px; font-size:18px; color:#fff; margin:40px auto 0; text-align:center;}
.submitSuccess .WzInfor{ font-size:18px; color:#000; line-height:40px; padding:20px 0; text-align:center;}

.row{width: 100%;overflow: hidden;}
.row .col-2{width: 50%;float: left;}


/* TravelTitle */
.TravelTitle{font: 18px/32px 'Microsoft YaHei';color: #42a4f7;text-align: center;margin: 62px auto;}
.TravelTitle h2{padding-top: 66px;background: url(../images/releaseTravel.png) center top no-repeat;}
.TravelTitle .cn{font-size: 32px;}

.wszl{ padding:46px 0 40px;}
.wszl .titleImg img{ display:block; margin:0 auto;}
.wszl .infor{ padding:15px 20px 20px; line-height:30px; font-size:16px; color:#7a7a7a; text-align:center;}
.wszl .btn a{ display:block; width:196px; height:50px; line-height:50px;background:#1bc1cd; border-radius:25px; margin:0 auto; font-size:20px; color:#fff; text-align:center;}

/* photoList */
.photoList{margin-left: -25px;}
.photoList li{width: 256px;float: left;margin-left: 25px;overflow: hidden;border-radius: 12px;}
.photoList li .pic{width: 100%;height: 280px;line-height: 280px;border-radius: 12px;margin-bottom: 6px; text-align: center;background: #e2e2e2;overflow: hidden;}
.photoList li img{max-width: 100%;max-height: 100%;cursor: pointer;vertical-align: middle;display: inline-block;}
.photoList li .title{font-size: 14px;line-height: 22px;color: #5e5e5e;text-align: center;}