<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" /> 
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"  />
<meta name="format-detection" content="telephone=no" />
<title>{xiao:$site_title}</title>
<link rel="stylesheet" href="{xiao:$site_template}images/style.css" />
<script type="text/javascript" src="admin/js/jquery.min.js"></script>

</head>